.App {
  /* text-align: center; */
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.json-error {
  padding: 20px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  h1 {
    font-size: 1.6em;
  }
}
