.submit-btn {
  margin-top: 20px;
  display: block;
  font-size: 1.2em;
  padding: 10px 20px;
  background: rgb(190, 185, 185);
}

label {
  display: block;
  margin-top: 10px;
}

.input {
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1em;
}

.error {
  margin-top: -15px;
  display: block;
  color: red;
  font-size: 0.8em;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .input {
    font-size: 0.8em;
  }
}
